<mat-card>
  <mat-card-content>
    <div [formGroup]="todoForm" class="mt-5 flex flex-row justify-center">
      <mat-form-field class="basis-5/6">
        <input
          type="text"
          matInput
          formControlName="title"
          placeholder="Add Todo..."
        />
      </mat-form-field>

      <button
        class="ml-10"
        mat-fab
        [disabled]="!isFormValid"
        (click)="onCreateTodo()"
      >
        <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
