<div class="h-full flex items-center justify-center">
  <mat-card class="min-w-96 w-1/4 flex items-center justify-center py-10">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content class="w-3/4">
      <div [formGroup]="loginForm" class="mt-5 flex flex-col">
        <mat-form-field>
          <input
            class="w-3/4"
            type="text"
            matInput
            formControlName="username"
            placeholder="Username"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="Password"
          />
        </mat-form-field>

        <div class="button text-center">
          <button
            [disabled]="!isFormValid"
            mat-raised-button
            (click)="onLogin()"
          >
            Login
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
